.file-explorer {
  background-color: #ffffff;
  height: 100%;

  &.icon-list {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    overflow: auto;
  }
}

textarea.notepad-app {
  font-family: monospace;
  font-size: 12pt;
  height: 100%;
  resize: none;
  width: 100%;

  &.spacer {
    width: 40%;
  }
}