$toolbar-hover-color: #316AC5;
$toolbar-border-color: #808080;

$toolbar-padding-vertical: 4px;
$toolbar-padding-horizontal: 9px;

li.toolbar-item {
  list-style-type: none;
  padding: 4px 9px;

  &:hover {
    background-color: #316AC5;
    color: #ffffff;
  }

  &.active {
    background-color: #316AC5;
    color: #ffffff;

    & > ul {
      display: block;
    }
  }

  & > ul {
    background-color: #ffffff;
    border: 1px solid #808080;
    color: #000000;
    display: none;
    margin-left: -9px;
    margin-top: 4px;
    padding: 0;
    position: absolute;

    & > hr {
      color: #808080;
      margin: 0 4px;
    }

    & > li {
      display: flex;
      justify-content: space-between;
      gap: 4ch;
      list-style-type: none;
      margin: 1px;
      padding: 5px 20px;

      &:hover {
        background-color: #316AC5;
        color: #ffffff;
      }

      &::after {
        content: attr(data-command);
      }
    }
  }
}

.status-bar-field {
  user-select: none;
}