body {
  align-items: center;
  background-color: #000000;
  display: flex;
  height: 100dvh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

epk-window {
  position: fixed;
}

li.toolbar-item {
  list-style-type: none;
  padding: 6px;

  &:hover {
    background-color: #316AC5;
    color: #ffffff;
  }
}