@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS'), url('/font/trebuc.woff') format('woff');
}

@font-face {
  font-family: 'Trebuchet MS Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS Italic'), url('/font/Trebuchet-MS-Italic.woff') format('woff');
}

body {
  align-items: center;
  background-color: #000000;
  display: flex;
  height: 100dvh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

epk-window {
  position: fixed;
}

li.toolbar-item {
  list-style-type: none;
  padding: 4px 9px;

  &:hover {
    background-color: #316AC5;
    color: #ffffff;
  }
}